[credential]
	helper = cache --timeout=999999
[user]
	name = Brett Calcott
	email = brett.calcott@gmail.com
[core]
        pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[interactive]
	diffFilter = delta --color-only
